// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------

/// Default font family
/// @type List
$default-font: 'Open Sans', 'Helvetica Neue Light', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif !default;
$heading-font: $default-font;
	
/// General colours
/// @type Color
$color-white: #fff;
$color-black: #000;
$color-off-black: #222;
$color-grey: #5e5e5e;
$color-dark-grey: #4d4d4d;
$color-very-dark-grey: #1a1a1a;
$color-very-light-grey: #c4c4c4;


/// Basic Text Colour
/// @type Color
$text-color: $color-off-black;
$main-link-color: red;
$main-link-hover: blue;

/// Basic Font Size
/// @type Font-size
$main-font-size: 1.5rem;

$h1-font-size: 3rem;
$h2-font-size: 2.4rem;
$h3-font-size: 2rem;
$h4-font-size: 1.8rem;
$h5-font-size: 1.5rem;
$h6-font-size: 1.5rem;

/// Basic Line Height
/// @type Line-height		
$main-line-height: 1.5rem;
$heading-line-height: 1.2rem;

/// Intro Typography
/// @type Font-size & Line-height
$intro-font-size: 2rem;
$intro-line-height: 1.5rem;

/// Basic Font Weights
// @type Font-weight
$normal-font-weight: 400;
$bold-font-weight: 700;
		
		
//Header
$header-height: 12rem;
$header-background-color: rgba(255, 255, 255, 0.9);

	
//Navigation
$nav-font-size: 1.5rem;
		
$nav-menu-text-color: $color-off-black;
$nav-menu-background-color: transparent;
		
$nav-menu-text-color-active: $color-white;
$nav-menu-background-color-active: $color-off-black;

$nav-menu-text-color-hover: $color-white;
$nav-menu-background-color-hover: $color-off-black;

//Sub Menus
$nav-sub-menu-text-color: $color-white;
$nav-sub-menu-background-color: $color-off-black;
$nav-sub-menu-text-color-hover: $color-off-black;
$nav-sub-menu-background-color-hover: $color-white;
		
//Footer
$footer-background: $color-off-black;
$footer-padding: 3rem 0;
		
$footer-text-color: $color-white;
$footer-line-height: 1.8rem;
		
$footer-link-color: $color-white;
$footer-hover-color: $color-white;
		
$footer-span-color: $color-white;
		
//Slideshow
$slides-overlay-text-color: $color-white;
$slides-overlay-background-color: $color-off-black;
	
	
//Buttons
$button-transitions: background-color 0.2s, color 0.2s, opacity 0.2s;
		
$button-text-color: $color-off-black;
$button-background-color: $color-white;
		
$button-text-hover-color: $color-white;
$button-background-hover-color: $color-off-black;
		
$button-padding: .7rem 3rem;
$button-font-size: 1.5rem;
$button-line-height: 1.3rem;
		
		
/// Container's maximum width
/// @type Length
$grid-width: 118rem !default;



	//Rows and Columns

		$columnMarginPixels: 3rem;

		//This is only used if the main column is outside the usual layout otherwise use row.three-col/row.two-col column-sizing in the markup.
		$columnMainWidthPixels: 63rem;
		
		$columnMargin: $columnMarginPixels / $grid-width * 100%;
		$columnMainWidth: ($columnMainWidthPixels / $grid-width * 100%) - $columnMargin;

//Layouts
$page-margins: 3rem;
$page-paddings: 3rem;






/// Responsive Breakpoints map
/// @prop {String} keys - Keys are identifiers mapped to a given length
/// @prop {Map} values - Values are actual breakpoints expressed in em
//	1em = 16px
$breakpoints: (
	'small': 25em,					//400px
	'phone': 37.5em,				//600px
	'tablet-portrait': 56.25em,		//900px
	'tablet-landscape': 75em, 		//1200px
	'desktop': 100em,				//1600px
	'big-desktop': 112.5em, 		//1800px
) !default;






/// Relative or absolute URL where all assets are served from
/// @type String
/// @example scss - When using a CDN
///   $base-url: 'http://cdn.example.com/assets/';
$base-url: '/assets/' !default;