// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------

/// Default font family
/// @type List
$default-font: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif !default;
$heading-font: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif !default;
	
/// General colours
/// @type Color
$color-white: #fff;
$color-black: #000;
$color-off-black: #414040;
$color-grey: #767479;
$color-dark-grey: #4d4d4d;
$color-light-grey: #b3b3ab;
$color-very-dark-grey: #1a1a1a;
$color-very-light-grey: #d4d7d7;


/// Basic Text Colour
/// @type Color
$text-color: $color-off-black;
$main-link-color: red;
$main-link-hover: blue;

$background-color-selection: $color-grey;
$color-selection: $color-white;

/// Basic Font Size
/// @type Font-size
$main-font-size: 1.6rem;

$h1-font-size: 3rem;
$h2-font-size: 2.4rem;
$h3-font-size: 2rem;
$h4-font-size: 1.8rem;
$h5-font-size: 1.5rem;
$h6-font-size: 1.5rem;

/// Basic Line Height
/// @type Line-height		
$main-line-height: 1.2em;
$heading-line-height: 1.2em;

/// Intro Typography
/// @type Font-size & Line-height
$intro-font-size: 2rem;
$intro-line-height: 1.3em;

/// Basic Font Weights
// @type Font-weight
$normal-font-weight: 400;
$bold-font-weight: 700;
		
		
//Header
$header-height: 12rem;
$header-background-color: transparent;

	
//Navigation
$nav-font-size: 1.5rem;
		
$nav-menu-text-color: $color-white;
$nav-menu-background-color: transparent;
		
$nav-menu-text-color-active: $color-white;
$nav-menu-background-color-active: transparent;

$nav-menu-text-color-hover: $color-white;
$nav-menu-background-color-hover: transparent;

//Sub Menus
$nav-sub-menu-text-color: $color-white;
$nav-sub-menu-background-color: $color-off-black;
$nav-sub-menu-text-color-hover: $color-off-black;
$nav-sub-menu-background-color-hover: $color-white;
		
//Footer
$footer-background: #efefef;
$footer-padding: 3rem 0;
		
$footer-text-color: $color-off-black;
$footer-line-height: 1.8rem;
		
$footer-link-color: $color-off-black;
$footer-hover-color: $color-grey;
		
$footer-span-color: #808080;
		
//Slideshow
$slides-overlay-text-color: $color-white;
$slides-overlay-background-color: $color-off-black;
	
	
//Buttons
$button-transitions: all .5s;
		
$button-text-color: $color-off-black;
$button-background-color: $color-white;
		
$button-text-hover-color: $color-white;
$button-background-hover-color: $color-off-black;
		
$button-padding: .7rem 3rem;
$button-font-size: 1.5rem;
$button-line-height: 1.3rem;
		
		
/// Container's maximum width
/// @type Length
$grid-width: 128rem !default;

//Layouts
$page-margins: 3rem;
$page-paddings: 3rem;






/// Responsive Breakpoints map
/// @prop {String} keys - Keys are identifiers mapped to a given length
/// @prop {Map} values - Values are actual breakpoints expressed in em
//	1em = 16px
$breakpoints: (
	'small': 25em,					//400px
	'phone': 37.5em,				//600px
	'tablet-portrait': 56.25em,		//900px
	'tablet-landscape': 80em, 		//1280px
	'desktop': 100em,				//1600px
	'big-desktop': 112.5em, 		//1800px
	'hd':  120em					//1920px
) !default;






/// Relative or absolute URL where all assets are served from
/// @type String
/// @example scss - When using a CDN
///   $base-url: 'http://cdn.example.com/assets/';
$base-url: '' !default;