//Mixins


	@mixin transition($transition...) {
		-webkit-transition: $transition;
	    -moz-transition: $transition;
	    -ms-transition: $transition;
	    -o-transition: $transition;
	    transition: $transition;
	}
	
	@mixin box-shadow($boxShadow...) {
		-webkit-box-shadow: $boxShadow;
	    -moz-box-shadow: $boxShadow;
	    -ms-box-shadow: $boxShadow;
	    -o-box-shadow: $boxShadow;
	    box-shadow: $boxShadow;
	}

	@mixin border-radius($borderRadius) {
		-webkit-border-radius: $borderRadius;
		-moz-border-radius: $borderRadius;
		-ms-border-radius: $borderRadius;
		-o-border-radius: $borderRadius;
		border-radius: $borderRadius;
	}
	
	@mixin button-style(){
		display:inline-block; 
		line-height: $buttonLineHeight; 
		background-color: $buttonBackColor;
		color: $buttonTextColor;  
		padding: $buttonPadding; 
		font-size: $buttonFontSize; 
		&:hover {
			background-color: $buttonBackHoverColor;
			color: $buttonTextHoverColor;
		}
	}
