/* 
.	 Responsive 
. 	 --------------------------------------------------------------------
*/
#responsive-menu-button { 
	width: 30px; 
	display: block;
    height: 29px;
    padding-top: 2px;
    box-sizing: border-box;	
    .line {
		@include border-radius(20px);
		height: 2px;
		background-color: $colorWhite;
		margin: 5px 0;
	}
	&:hover {
		.line {
		}
	}
}
#responsive-bar { 
	background-color: $colorOffBlack; 
	position: fixed; 
	top:0; 
	left: 0; 
	z-index: 2000;
	-webkit-box-shadow: 0px 0px 15px rgba(33, 33, 33, 0.5); 
	-moz-box-shadow: 0px 0px 15px rgba(33, 33, 33, 0.5); 
	box-shadow:0px 0px 15px rgba(33, 33, 33, 0.5);
	.responsive-bar-inner { padding: 10px; }
}

html.scroll, 
body.scroll { 
	overflow: hidden; 
	height: 100%; 
}

/* 
.	 Responsive Menu 
.	 --------------------------------------------------------------------
*/

.responsive-menu{ 
	left: -50%; 
	position: absolute; 
	position: fixed; 
	height: 100%; 
	z-index: 1999; 
	width: 40%; 
	overflow-x: hidden; 
	overflow-y: auto; 
	background-color: #C4C4C4;   
	color: #5e5e5e; 
	top:49px; 
	-webkit-box-shadow: 0px 0px 15px $colorOffBlack; 
	-moz-box-shadow: 0px 0px 15px $colorOffBlack; 
	box-shadow:0px 0px 15px $colorOffBlack; 
	-webkit-transition: left 0.5s; 
	-moz-transition: left 0.5s; 
	-o-transition: left 0.5s; 
	transition: left 0.5s; 
	&.activate {
		left: 0;
	}
	.responsive-menu-inner { 
		padding: 0 0 15px;
	}
	&.right {
		left: auto; 
		right: -260px;
	}
	&.left {
		right: auto; 
		left: -260px;
	}
	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		font-size: 11px; 
		font-weight: normal; 
		padding: 0 15px; 
		margin: 0 0 5px; 
		color: $colorWhite; 
		line-height: 24px; 
		background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #4d4d4d), color-stop(100%, #1a1a1a)); 
		background-image: -webkit-linear-gradient(#4d4d4d,#1a1a1a); 
		background-image: -moz-linear-gradient(#4d4d4d,#1a1a1a); 
		background-image: -o-linear-gradient(#4d4d4d,#1a1a1a); 
		background-image: linear-gradient(#4d4d4d,#1a1a1a); 
		-webkit-box-shadow: 0 5px 5px 3px rgba(0,0,0,0.2); 
		-moz-box-shadow: 0 5px 5px 3px rgba(0,0,0,0.2); 
		box-shadow: 0 5px 5px 3px rgba(0,0,0,0.2)
	}
	p {
		margin: 0 0 12px;
		a {
			color: rgba(255,255,255,0.9);
		}
	}
	ul {
		margin: 0;
		li {
			display: block; 
			margin: 0; 
			line-height: 40px; 
			border-top: 1px solid $colorOffBlack; 
			font-weight: 300;
			&.menu-item-first {
				border-top: 0;
			}
			&.menu-item-last {
				padding-bottom: 100px;
			}
			&:hover,
			&.active,
			&.responsive-menu-class-active { 	}
			a,
			span {
				padding: 0 15px; 
				display: block; 
				text-decoration: none;  
				color: $colorOffBlack; 
				text-transform: uppercase;
			}
			ul {
				border-bottom: none; 
				margin: 0;
				li {
					line-height: 40px;
					&:last-child { border-bottom: none; }
					a,
					span {
						padding-left: 30px;
					}
				}
				
			}
		}
	}
	form {
		margin: 0 15px;
	}
	label {
		font-size: 13px 
	}
	input[type="text"],
	input[type="password"],
	input[type="date"],
	input[type="datetime"],
	input[type="email"],
	input[type="number"],
	input[type="search"],
	input[type="tel"],
	input[type="time"],
	input[type="url"],
	textarea,
	select { 
		width: 100%; 
		font-size: 13px; 
		padding: 5px; 
		-webkit-box-sizing: border-box; 
		-moz-box-sizing: border-box; 
		box-sizing: border-box; 
		margin: 0 0 10px; 
		-webkit-border-radius: 2px; 
		-moz-border-radius: 2px; 
		-ms-border-radius: 2px; 
		-o-border-radius: 2px; 
		border-radius: 2px; 
		border: none; 
		background: rgba(0,0,0,0.1); 
		color: rgba(255,255,255,0.6); 
		display: block; 
		clear: both;
	}
	input[type=checkbox] {
		width: auto; 
		display: inline; 
		clear: none
	}
	input[type=button],
	input[type=submit] {
		color: #333; 
		background: $colorWhite;
	}
	input[type=button]:hover,
	input[type=submit]:hover {
		background: rgba(255,255,255,0.9);
	}
	a:hover {
		background-color: $colorOffBlack; 
		color: $colorWhite;
	}
}

  
/* 
.	 Responsive Media Queries
. 	 --------------------------------------------------------------------
*/

/* Bootstrap Fix */

@media (min-width: 768px) {
  .container {
    width: 748px;
  }
}
@media (min-width: 960px) {
  .container {
    width: 960px;
  }
}
@media (min-width: 1280px) {
  .container {
    width: 1280px;
  }
}

@media screen and (max-width: 1500px) {
	
	#home-services .col .overlay-container h3.long {
		font-size: 2.2em;
	}
	
}



@media screen and (max-width: $breakWide) {
	
	.page-section-back .page-section { width: $breakDesktop; }
	
}

@media screen and (max-width: $breakDesktop) {
	
	/* 
	.	 General 748px
	. 	 --------------------------------------------------------------------
	*/
		.page-section-back.header .page-section { margin-top: 49px; }
		.section.header .container { margin-top: 49px; }
		
		.page-section-back .page-section { width: $breakTablet; }
		
		/* Rows and Columns */
		.page-section-back .row { 
			width: 100%; 
			.column-full {
				width: 100%;
			}
			.column-main, {  
				width: (100% - ($columnMargin*2)) /2;
			}
			.column-sidebar {
				width: (100% - ($columnMargin*2)) /2;
			}
			&.two-col {
				.column-one {
					width: (100% - ($columnMargin*2)) /2;
				}
			}
			&.three-col {
				.column-one {
					width: (100% - ($columnMargin*2)) /2;
				}
				.column-two {
					width: (100% - ($columnMargin*2)) /2;
				}
			}
			&.four-col {
				.column-one { width: (100% - ($columnMargin*2)) /2; }
				.column-two { width: (100% - ($columnMargin*2)) /2; }
				.column-three { width: (100% - ($columnMargin*2)) /2; }
			}
			
		}
		
		
	/* 
	.	 Slides 748px
	. 	 --------------------------------------------------------------------
	*/
		#slideshow .cycle-slide .cycle-overlay { width: $breakTablet; }
	
}

@media screen and (max-width: $breakTablet) {

	/* 
	.	 General 496px
	. 	 --------------------------------------------------------------------
	*/
		.responsive-menu{ left: -60%; width: 50%; }
		
		div.page-section-back div.page-section { width: $breakPhoneLarge; }
		
		/* Rows and Columns */
		.page-section-back .row { 
			.column-sidebar {
				width: 100%;
			}
			&.two-col {
				.column-one {
					width: 100%;
				}
			}
			&.three-col {
				.column-one {
					width: 100%;
				}
				.column-two {
					width: 100%;
				}
			}
			&.four-col {
				.column-one { width: 100%; }
				.column-two { width: 100%; }
				.column-three { width: 100%; }
			}
			
		}
				
		
	/* 
	.	 Slides 496px
	. 	 --------------------------------------------------------------------
	*/
		#slideshow .cycle-slide .cycle-overlay { 
			width: 100%; 
			.cycle-overlay-inner { display: none; }
		}
		#dummy { min-height: 0; }
		
		
}

@media screen and (max-width: $breakPhoneLarge) {

	/* 
	.	 General 300px
	. 	 --------------------------------------------------------------------
	*/
		
		.responsive-menu{ left: -110%; width: 100%; }
		
		div.page-section-back div.page-section { width: $breakPhoneSmall; }
		
				
	/* 
	.	 Slides 300px
	. 	 --------------------------------------------------------------------
	*/
		#slideshow .cycle-slide .cycle-overlay { width: 100%; }
		
	/* 
	.	 Scrolling Logos 300px
	. 	 --------------------------------------------------------------------
	*/
		#scrolling-logos-inner div { margin: 0 34px; }
	
}

