// -----------------------------------------------------------------------------
// module-form-section
// -----------------------------------------------------------------------------


#form-section {
    background-color: $color-grey;
    
    .gravity-form {
        background-color: transparent;
        padding: 0;
    }
}