/* Cookie Legal Message */
#cookieMessageWrapper {
	background: #aaa;
	font-weight: normal; 
	padding: 0;
	margin: 0;
	display: none;
	border-bottom: solid 1px #666;
	background: #aaaaaa; /* Old browsers */
	background: -moz-linear-gradient(top,  #aaaaaa 0%, #888888 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#aaaaaa), color-stop(100%,#888888)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #aaaaaa 0%,#888888 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #aaaaaa 0%,#888888 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #aaaaaa 0%,#888888 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #aaaaaa 0%,#888888 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#aaaaaa', endColorstr='#888888',GradientType=0 ); /* IE6-8 */
	/* height: 50px; */

}
#cookieMessage {
	width: 960px; /* this needs to be set to the width of the centre container */
	padding: 10px 0 11px 0;
	margin: 0 auto;
	position: relative;
}
#cookieMessage:after {
	content: "."; 
	display: block; 
	height: 0; 
	clear: both; 
	visibility: hidden;
}
#cookieMessage p {	
	text-align: left;
	color: $color-white;
	margin: 0;
	font-size: 1.5em;
	line-height: 1em;
}
#cookieMessage p a { color: #375D92; }
#cookieMessage p a:hover { color: #666; }
a#cookieClose {
	float: right;
	display: block;
	background-image: url(images/close.png);

	background-repeat: no-repeat;
	width: 15px;
	height: 15px;
	z-index: 100;
	
	text-decoration: none;
	background-color: transparent;
	border: solid 0px #555;
	border-radius: 3px;
	color: $color-white;
	font-size: 1.1em;
	text-transform: lowercase;
	font-weight: bold;

}
a#cookieClose:hover { opacity: 0.8; }
